body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 10px;
}

#song-list {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #696969;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

footer {
    margin-top: 20px;
    color: #3d3d3d;
}

